/* está locarijao nesta aquivos, barra larterais e e barra de pesquisar 
/* aquir começar barra lateraral */
body{
   padding-top: 100px;
   margin: 0;
}
.sidebar{
  width: 220px;
  position: fixed;
  display: block;
  margin: 0; top: 0;  z-index: 1000; 
  border-radius: 0px 16px 16px 16px;
  background-color:#531D1A;
  height: calc(100vh - 32px);
  transition: 0.4s ease; 
}
.sidebar.collapsed{
  width: 85px;
}

.sidebar-header {
  display: flex;
  padding: 21px 10px;
  align-items: center;
  background-color: #460606;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}
.sidebar-header span{
 position: relative;
 left: 20px;
 color: #FFF;
 font-size: 30px;
 font-family: "Kantumruy Pro", sans-serif;
 transition: opacity 0.2s ease;
}
.sidebar-header .header-logo svg {
  width: 46px;
  height: 46px;
  left: 10px;
  position: relative;
  display: flex;
  object-fit: contain;
  border-radius: 50%;
}
.sidebar-header .toggler{
  height: 35px;
  width: 35px;
  border: none;
  color: #151A2D;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  background: #fff;
}
.sidebar-header .toggler:hover {
 background: #dde4fb;
}
.sidebar-header .toggler span{
 font-size: 1.75rem;
 
}
.sidebar.collapsed .sidebar-header span{
  opacity: 0;
  pointer-events: none;
}
.sidebar-nav .item{
 list-style: none;
 display: flex;
 gap: 4px;
 padding: 0 15px;
 flex-direction: column;
 transform: translateY(15px);
 
}
.sidebar-nav .nav-link{
  color: #fff;
  display: flex;
  gap: 12px;
  width: 150px;
  border-radius: 8px;
  margin-left: -40px;
  align-items: center;
  padding: 12px 15px;
  text-decoration: none;
  transition: 0.4s ease;
  
}
.sidebar-nav .nav-link:hover{
background-color: #fff;
color: #2b0907;
}


.sidebar-nav .nav-link .nav-label{
  transition: opacity 0.4s ease;
}
.sidebar.collapsed .sidebar-nav .nav-link .nav-label{
  opacity: 0;
  pointer-events: none;
}
.sidebar-nav .segunda {
  position: absolute;
  bottom: 40px;
  width: 81px;
 

  
}

/* Aqui começa parte da barra de busca */
.barra-buscar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #310000;
  color: black;
  width:100vw;
  height: 8.47vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  margin-left: 4vw;
  transition: 0.4s ease;
}
.barra-buscar.collapsed{
  margin-left: calc(5vw + 135px);
}

input[type="text"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-left: calc(50% - 19vw);
  transform: translateX(-50%);
  margin-top: 0.5%;
  background-color: #ebfdff;
  color: #531D1A;
  position: relative;
}
input[type="text"]::placeholder {
  font-size: bolder;
  color: #531D1A;
  opacity: 1;
  font-family: 'Chakra Petch', sans-serif;
}

 #lupa {
display: flex;  
position: absolute; 
left: 53%;
transform: translateX(-53%);
transform: translateY(-50%);
top: 50%;
width: 30px;
height: 30px;
}
.barra-buscar .p{
  position: relative;
  color: #FFF;
  display: none;
  
}


@media (min-width: 100px) and (max-width: 1024px){
  .sidebar{
    visibility: hidden;
    transition: 0.4s ease;
  }

  /* busca */
   .barra-buscar{
    margin-left: 8vw;
    width: 84vw;
    border-radius: 7px;
    margin-top: 31.05px;
    border: 0.1px solid rgba(255, 255, 255, 0.603);
    position: fixed;
    height: 52px;
  }
  #estilo{
  background-color: #310000;
  padding: 10px;
  margin-top: -100px;
  z-index: 99;
  width: 100vw;
  height: 75px;
  border-bottom-right-radius: 50px;
  margin-left: -1.66%;
  position: fixed;
}
.barra-buscar input{
  left: 14%;
  top: 3px;
  position: relative;
  width: 58.06vw;
  height: 32px;
}
#lupa {
  position: absolute;
  left: 70%;
  transform: translateY(-28%);
  top: 28%;
  transform: translateX(-70%);
  width: 5.58vw;
  height: 22px;
}
.barra-buscar .p{
left: 90%;
display: block;
position: absolute;
}
.collapsed{  
 width: 20%;
  position: fixed;
  display: block;
  margin: 0; top: 0;  z-index: 1000; 
  border-radius: 0px 16px 16px 16px;
  background-color:#531D1A;
  height: calc(100vh - 32px);
  transition: 0.4s ease;

}
.nav-label {
 font-size: 2vw;
 
}
@media (max-width: 480px){
.collapsed{  
  width: 10.83vw;
}

.sidebar-header .header-logo svg {
  width: 36px;
  height: 36px;
  left: -20%;
  position: relative;
  display: flex;
  object-fit: contain;
  border-radius: 50%;
}

.sidebar-nav .nav-link{
margin-left: -55px;
}
.collapsed .sidebar-nav .nav-link .nav-label{
  opacity: 0;
  pointer-events: none;
}
.collapsed .sidebar-header span{
  opacity: 0;
  pointer-events: none;}
  }
}