*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-image: url("../../../imagens/fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(252, 246, 240);
  display: grid;          
  place-items: center;
  font-family: 'Chakra Petch', sans-serif;
  margin: 0;             
  min-height: 100vh;      
}

.container {
  position: relative;
  width:  50vw;
  height: auto;
  min-height: 40vw ;
  display: grid;
  place-items: center;
  border: 1px solid black;
  border-radius: 7px;
  background-color: #ffffff;
  transition: all 0.6s ease;
  padding: 1px;
  overflow: hidden;
  
}
.container.Not {
  min-height: 45vw ;
}

.card-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-content .incone-gaion1 {
  display: grid;
  place-items: center;
  transition: all 0.6s ease;
}

.card-content .incone-gaion1 svg {
  width: clamp(4rem, 6vw, 6rem);
  height: auto;
  color: #DFD2C8;
}

.card-content .incone-gaion1 span {
  font-size: clamp(19px, min(2.3vw, 3.7vh), 35px);
  font-family: 'Kantumruy Pro', sans-serif;
  color: #531D1A;
  font-weight: 600;
}

.card-content .incone-gaion {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-top: 18vh;
  position: relative;
}
.card-content .incone-gaion span{
  position: static;
  white-space: nowrap;
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-family: 'Kantumruy Pro', sans-serif;
  margin-top: 5px; 
}

.card-content .incone-gaion svg {
  width: clamp(1.5rem, 2vw, 2rem);
  height: auto;
  aspect-ratio: 1 / 1;
}

.card-content .form {
  opacity: 1;
  color: #531D1A;
  font-size: 18px;
  display: flex; 
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  gap: 0px; 
  width: 100%;
  transition: opacity 0.5s ease, max-height 0.3s ease, padding 0.3s ease;
}
.card-content .form .Vendedor.Not{
  opacity: 0;
  max-height: 0;
  padding: 0;
}

.card-content .form .nome {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
}

.card-content .form .collumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
 
}

.card-content .form label{
  font-size: clamp(0.7rem, 1vw, 1.5rem);
}

.card-content .form input {
  width: 100%;
  min-height: 44px;
  padding: 0 6px;
  font-size: clamp(0.7rem, 1vw, 1.5rem);
  border-radius: 7px;
  box-sizing: border-box;
  border: 0.5px solid #531D1A;
  color: #531D1A;
  background-color: #F7F3F4;
  transition: background-color 0.3s;
  font-family: 'Chakra Petch', sans-serif;
}

.card-content .form #ID {
  width: auto; 
  padding: 0 6px; 
}

.checkbox-container {
  display: flex;
  flex-direction: column;
}

.checkbox-custom {
  display: none;
}

.checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 17px;
  font-family: 'Chakra Petch', sans-serif;
  color: #531D1A;
  position: relative;
  padding-left: 1.3rem;
  line-height: 1.4;
}

.checkbox-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: max(14px, 1.3vw);
  height: max(14px, 1.3vw);
  border: 2px solid #531D1A;
  border-radius: 4px;
  background-color: white;
}

.checkbox-custom:checked + .checkbox-label::before {
  background-color: white;
  border-color: #531D1A;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='7' viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.66667 6.28L0 3.61333L0.94 2.66667L2.66667 4.39333L7.06 0L8 0.946667' fill='%23531D1A'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.95vw 1.46vw;
}

.botão{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

#Login{
  width: 60%;
  padding: 5px;
  height: auto;
  min-height: 44px; 
  color: #fff;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 200;
  border-radius: 7px;
  background: #310000;
 
background: linear-gradient(270.21deg, #531D1A 2.37%, #310000 99.84%);

}
#Login:hover {
  background: linear-gradient(#310000 0%, #531D1A 100%);
  transform: scale(1.03);
}
@media (max-aspect-ratio: 4.5/5) and (orientation: portrait){
   body {
  display: flex;
  justify-content: center;
  align-items: center;
}
  .container {
  width:  75vw;
  max-width: 600px;
  min-height: 65vh ;
  overflow-y: auto;
}
.container.Not {
  min-height: 65vh ;
}
.checkbox-label {
  padding-left: 1rem;
}

.card-content .form input {
  min-height: 30px;
}

  #Login{
  height: auto;
  min-height: 24px;
  border: none;
}
}
@media (max-aspect-ratio: 3/5) and (orientation: portrait){
  .container {
  width:  90vw;
  min-height: 80vh ;
  padding: 10px;
}
.container.Not {
  min-height: 85vh ;
}
  #Login{
  width: 45%;
}
}
@media (max-height: 600px) and (orientation: landscape){
  .container {
  width:  80vw;
  max-width: 600px;
}
}