*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-image: url("../../imagens/fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(252, 246, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
/* O painel do cadastro/login & & BOTÕES   */ 
.card {
  width: 72.63vw;
  display: grid;
  grid-template-columns: 1fr 1fr; /* duas colunas */
  grid-template-areas: 
    "figure conteudo";
  align-items: center;
  position: relative;
  background: #fff;
  border: 0.4px solid #732e2a;
  border-radius: 7px;
  height: min(40vw, 890px);
}
.card .card-conteudo {
  width: 100%;
  position: relative;
  grid-area: conteudo;
  display: grid;
  justify-items: center;
  gap: 9px
}
.button-group {
  display: grid;
  justify-items: center;
  text-align: center;
  width: 50%;
  gap: 2px;
}
.button-group .btn {
  font-family: 'Chakra Petch', sans-serif;
  width: 100%;
  border-radius: 5.5px;
  text-decoration: none;
  font-size: 1.4vw;
  font-weight: 400;
  transition: transform 0.2s ease, background-color 0.3s ease;
  cursor: pointer;
  height: 160%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center; 
}
.btn-primary {
  background: #fff; /* botão de login*/
  color: #310000;
  border: 0.5px solid #531D1A;
}
.btn-primary:hover,.btn-secondary:hover  {
  background: #f5f2f2;
  transform: scale(1.03);
}
.btn-secondary {
  background: linear-gradient(#531D1A 0%, #310000 100%);
  color: white;
  border: none;
}
.btn-secondary:hover {
  background: linear-gradient(#310000 0%, #531D1A 100%);
}
/*HEADER & TIPOGRAFIA*/
.card .card-header {
  text-align: center;
  font-size:  0.9vw;
  font-family:'Chakra Petch', sans-serif;
  color: #531D1A;
  font-weight: 400;
}
.card .card-header svg {
  width: 3em;
  height: auto;
}

.card .card-header #primario {
  font-size: 2.5em;
  font-weight: 500;
  font-family: "Kantumruy Pro", sans-serif;
}

.card .card-header #subtitulo {
  font-size: 2.3em;
  font-weight: 400;
  font-family: 'Chakra Petch', sans-serif;
  color: #531D1A;
}

.card .card-header .destaque {
  font-weight: 700;
}
/* FIGURA */
.card .card-figure {
 width: 100%;
 margin-left: 10%;
 grid-area: figure;
}
  .card .card-figure img {
    width: 89%;
  }
/*  Reprasividade Portrai*/
@media (max-width: 1024px) and (orientation: portrait) {
  body { background-image: url("../../imagens/fundo2.png"); }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
    Width: 90vw;
  }
  .card .card-conteudo {
    display: contents;
  
  }
  /* ORDEM FINAL */
  .card .card-header {
    order: 1;
    text-align: center;
    font-size: 2vw;
  }

  .card .card-figure {
    display: flex;
    order: 2;
    width: auto;
   align-items: center;
   justify-content: center;
   margin-bottom: 8%;
   margin-top: 0;
  }

  .card .card-figure img {
   width: 98%;
  }

  .button-group {
  width: 50%;
  padding: 0 10px;
  text-align: center;
  order: 3;
  position: relative;
  gap:10%;
  }
  .button-group .btn {
    font-size: clamp(16px, 3vw, 20px);
    height: 190%;

  }
}

@media (max-aspect-ratio: 1/1) and (min-aspect-ratio: 3.25/5) {
.card{
 padding: 8px;
 height: 94vh;
}
  .button-group {
  display: flex;
  justify-items: center;
  text-align: center;
  width: 80%;
  gap: 5px;
  padding: 0;
}

}
@media (max-aspect-ratio: 2.5/5) and (orientation: portrait) {
.card{height: 75vh;}
.button-group { 
  width: 55%;
  height: 8%;
}
  
  .button-group .btn {
    gap: 0;
    font-size: clamp(14px, 3vw, 20px);
    height: 180%;

  }
}