body {
    font-family: 'Chakra Petch', sans-serif;
  background: #fff;
  margin: 0;
  color: #333;
  padding-top: 60px;
  display: flex;
  overflow-x: hidden;
}
strong{
  font-weight: bold;
}


.anucios{
  position: relative;
}
.anucios .home {
  top: 9px;
  width: 52%;
  height: auto;
  margin-left: 40.8vw;
 
}

.anucios p{
z-index: 1;
position: absolute;
top: 90px;
font-size: 0.782vw;
color: #531D1A;
left: 10.8vw;
}
.anucios h3{
  z-index: 1;
  position: absolute;
  top: 90px;
  font-size: 1.98vw;
  color: #531D1A;
  left: 10.8vw;
  font-weight: bolder;
  line-height: 1.2;
  font-family: 'Kantumruy Pro', sans-serif;
  }
.anucios #vendedores{
  z-index: 1;
  position: absolute;
  top: 13vw;
  font-weight: 250;
  font-size: 1.12vw;
  color: #531D1A;
  left: 10.8vw;
  line-height: 1.5;
}
.anucios #Play{
  z-index: 1;
  position: absolute;
  bottom: 250px;
  left: 24vw;
  width: 1.98vw;
  height: 1.98vw;
  top: 427px;
}
.playstore p{
  z-index: 1;
  position: absolute;
  top: 417px;
  left: 27.3vw;
  width: 100px;
  height: 30px;
  font-size: 0.6vw; 
}
#play{
  font-size: 1vw;
}
.barra{
  background-color: #000000;
  width: 1px;
  height: 2.31vw;
  position: absolute;
  z-index: 1;
  left: 33.9vw;
  top: 425px;
}
.apple{
  position: absolute;
  top: 419px;
  left: 33.9vw;
  z-index: 1;
}
.apple p{
  position: absolute;
  top: 0px;
  left: 3.96vw;
  width: 100px;
  font-size: 0.6vw;
}
.apple img{
height: 3.168vw;
width: 3.168vw;
}

.baixa{
width: 11.88vw;
height: 2.64vw;
background: #531D1A;
background: linear-gradient(90deg, rgba(83, 29, 26, 1) 0%, rgba(49, 0, 0, 1) 100%);
position: absolute;
top: 423px;
left: 10.8vw;
z-index: 1;
border-radius: 4.14px;
}
.baixa p{
  left: 0.66vw;
  top: -0.66vw;
  color: white; 
  font-size: 1.12vw;
}
.baixa svg{
  left: 6.6vw;
  top: 10px;
  position: absolute;
  width: 1.353vw;
  height: 1.353vw;
}
/*block*/
.container{
margin-left: 8vw;
position: absolute;
bottom: -300px;
}

.wrapper .card {
  width: 1305px;
  height: auto;
  height: 400px; 
  display: flex; /* obrigação do aluno */
  align-items: center;

  background: #531D1A;
  border-radius: 20px;
  box-shadow: 2px 10px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.wrapper .card:hover {
transform: translateY(-10px);

}

.card .card-content {
  flex: 1;
  position: relative;
  margin-left: 68px;
  font-family: "Kantumruy Pro",sans-serif ;
  font-size: 35px;
  width: 395px;
  display: flex;
  flex-direction: column;
  padding: 10px 25px 25px;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 20px;
  justify-content: space-between;

}


.card .card-content2 {
  font-size: 20px;
  color: #fff;
  width: 619px;
  position: absolute;
  top: 70px;
  left: 600px;
  display: flex;
  flex-direction: column;
  padding: 10px 25px 25px;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align:inherit;
}



@media (min-width: 4px) and (max-width: 1024px ) {
  body{
    overflow-x: hidden;
    max-width: 100%;
  }
.anucios .home {
  width: 55vw;
  position: relative;
  left: 0%;
   top: 6%;
   margin-top: 5%;
}
.anucios p{
z-index: 1;
position: absolute;
top: 24.7%;
font-size: 1.2vw;
color: #531D1A;
left: 5.2%;
}
.anucios h3{
  z-index: 1;
  position: absolute;
  top: 24.7%;
  font-size: 2.4vw;
  color: #531D1A;
  left: 5.2%;
  font-weight: bolder;
  line-height: 1.2;
  font-family: 'Kantumruy Pro', sans-serif;
  }
.anucios #vendedores{
  z-index: 1;
  position: absolute;
  top: 50%;
  font-weight: 250;
  font-size: 1.5vw;
  color: #531D1A;
  left: 5.2%;
  line-height: 1.5;
}
.anucios #Play{
  z-index: 1;
  position: absolute;
  bottom: 52.08vw;
  left: 27.08%;
  width: 2.8vw;
  height: 2.8vw;
  top: 82%;
}
.playstore p{
  z-index: 1;
  position: absolute;
  top: 81.5%;
  left: 31.25%;
  width: 20.8vw;
  height: 6.25vw;
  font-size: 12%; 
}
#play{
  font-size: 1.5vw;
}
.barra{
  background-color: #000000;
  width: 0.05%;
  height: 5.2vw;
  position: absolute;
  z-index: 1;
  left: 43.75%;
  top: 79%;
}
.apple img{
  width: 4.3vw;
  height: 4.3vw;

}
.apple{
  position: absolute;
  top: 80.8%;
  left: 43.75vw;
  z-index: 1;
  width: 8vw;
}
.apple p{
  position: absolute;
  left: 5.25vw;
  width: 20.8vw;
  font-size: 7%;
  top: 12%;
  
}
.baixa{
width: 18vw;
height: 3.4vw;
background: #531D1A;
background: linear-gradient(90deg, rgba(83, 29, 26, 1) 0%, rgba(49, 0, 0, 1) 100%);
position: absolute;
top: 82%;
left: 5.2%;
z-index: 1;
border-radius: 4.14px;
}
.baixa p{
  left: 10.04%;
  position: relative;
  top: -37%;
  color: white; 
  font-size: 1.7vw;
}
.baixa svg{
  left: 74.53%;
  top: 30%;
  position: absolute;
  width: 1.6vw;
  height: 1.6vw;
}
/* block */
.container{
margin-left: 8vw;
position: relative;
top: 9%;
}

.wrapper .card {
  width: 70vw;
  height: clamp(74px ,16.6vw,17vw); 
  display: flex; 
  align-items: center;
  background: #531D1A;
  border-radius: 20px;
  box-shadow: 2px 10px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.wrapper .card:hover {
transform: translateY(-10px);

}

.card .card-content {
  flex: 1;
  top: 6%;
  margin-left: 5%;
  font-family: "Kantumruy Pro",sans-serif ;
  font-size: 2vw;
  width: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 25px 25px;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 0%;
  justify-content: space-between;

}


.card .card-content2 {
  font-size: clamp(5px, 1.2vw, 1.5vw);
  color: #4b4848;
  width: 27.34vw;
  top: 0px;
  left: 30.75vw;
  display: flex;
  flex-direction: column;
  padding: 10px 25px 25px;
  color: #fff;
  line-height: 1.6;
  text-align:inherit;
}
}
@media (max-width: 480px) {
  .card .card-content2 {
    top: -10px;
  }


}