@font-face {
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: 
    url("../../fonts/chakra-petch/chakra-petch-latin-400-normal.woff2") format("woff2"),
    url("../../fonts/chakra-petch/chakra-petch-latin-400-normal.woff") format("woff");
}
@font-face {
  font-family: "Chakra Petch5";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: 
    url("../../fonts/chakra-petch/chakra-petch-latin-500-normal.woff2") format("woff2"),
    url("../../fonts/chakra-petch/chakra-petch-latin-500-normal.woff") format("woff");
}
@font-face {
  font-family: "Kantumruy-pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: 
    url("../../fonts/kantumruy-pro/kantumruy-pro-khmer-600-normal.woff2") format("woff2"),
    url("../../fonts/kantumruy-pro/kantumruy-pro-khmer-600-normal.woff") format("woff");
}
@font-face {
  font-family: "Kantumruy-pro5";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: 
    url("../../fonts/kantumruy-pro/kantumruy-pro-khmer-500-normal.woff2") format("woff2"),
    url("../../fonts/kantumruy-pro/kantumruy-pro-khmer-500-normal.woff") format("woff");
}
@font-face {
  font-family: "Kantumruy-pro7";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: 
    url("../../fonts/kantumruy-pro/kantumruy-pro-khmer-700-normal.woff2") format("woff2"),
    url("../../fonts/kantumruy-pro/kantumruy-pro-khmer-700-normal.woff") format("woff");
}

.container{
    margin:0;
    font-family: Arial, sans-serif;
    background:#f5f5f5;
    display:flex;
    justify-content:center;
    padding:20px;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 3em;
    gap: 10px;
  }


 .vol {
  display: inline-block;
  width: fit-content;
  height: fit-content;
}
 
 h2{
    margin:0 0 5px 0;
    font-size:23px;
    font-family: "Kantumruy-pro",Georgia, serif;
    color: #531D1A;
  }
 .local{
  display: flex;
  align-items: center;
  font-size: max(0.9em,13px) ;
  font-family: "Chakra Petch", Georgia, serif;
  gap: 8px;
  color: #531D1A;
  margin-bottom: 10px;
 }
  .local1{
   display: flex;
   flex-direction: column;
   gap: 0px;
  }
 .local1 > * {
  margin: 0;
  padding: 0;
  line-height: 1.1;
}
 .local2{
  font-family: "Kantumruy-pro5",Georgia,serif;
  font-size: 17px;
 } 
 .campo1{
  display: flex;
  gap: 0px;
  flex-direction: column;
 }

 .figure{
  width: 100%;
  max-width: 314px;
  height: 178px;    
  margin: 0px auto;     
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 20px;
 }
  .foto{
    width:100%;
    height: 100%;
    border-radius:7px;
    object-fit:cover;
    
  }

  .extras{
    font-size:22px;
    margin-left: 20px;
  }

  .linha{
    width:100%;
    height:0.5px;
    background:#A0776F;
  }
 .campo2{
  margin-bottom: 20px ;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  font-family: "Chakra Petch5", Georgia, serif;
 }
  .grid{
  display: grid;
  grid-template-columns:1fr;
  gap: 16px;
  }

  .campo{
  width: 100%;
  display: flex;
  flex-direction: column;
}

  .campo span{
    font-size:18px;
  }
.aparecia2,
  .aparecia{ 
  display: flex;
  align-items: center;
  border: 2px solid #7a2d2d;
  border-radius: 14px;
  height: 48px;
  gap: 1px;
  font-size: 16px;
}
  
 .aparecia span:first-child {
  flex: 1;
  padding-left: 16px;
  font-size: 20px;
  color: #7a2d2d;
} 


/* separador */
.divisor {
  width: 1px;
  height: 100%;              /* 🔥 ocupa toda a altura */
  background: #7a2d2d;
}

/* unidade — o ponto-chave */
.unidade {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* padrão */
  font-size: 18px;
  color: #7a2d2d;
}
.unidade.mester {
  justify-content: center;   /* 🔥 empurra pra direita */

}
 .aparecia2{
  background-color: #C0A49C;
  border: 1px solid #310000;
  color: #531D1A;
 }
 .infoma{
   display: flex;
   flex-direction: column;
   gap: 25px;
 }
 .aparecia3 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #A0776F;
  
 }
 .aparecia3 span{
  font-size: 23px;
 } 
  .preco{
    font-size:26px;
    margin-top:20px;
    font-family: "Kantumruy-pro7",Georgia, serif;
    color: #531D1A;
  }

  .botao{
    margin-top:20px;
    width:100%;
    background: #531D1A;
    background: linear-gradient(270deg, rgba(83, 29, 26, 1) 0%, rgba(49, 0, 0, 1) 100%);
    color:white;
    font-size:20px;
    padding:15px;
    border:none;
    border-radius:10px;
    cursor:pointer;
   
  }

  .botao:hover{
    opacity:0.8;
  }
  #tipo{
    margin-left: 10%;
    font-size: 18px;
  }
