@font-face {
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: 
    url("../../../fonts/chakra-petch/chakra-petch-latin-400-normal.woff2") format("woff2"),
    url("../../../fonts/chakra-petch/chakra-petch-latin-400-normal.woff") format("woff");
}
@font-face {
  font-family: "Kantumruy-pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: 
    url("../../../fonts/kantumruy-pro/kantumruy-pro-khmer-600-normal.woff2") format("woff2"),
    url("../../../fonts/kantumruy-pro/kantumruy-pro-khmer-600-normal.woff") format("woff");
}
*, *::before, *::after {
  box-sizing: border-box;
}


body{
  background-image: url("../../../imagens/fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;          
  place-items: center;
  margin: 0;
  padding: 15px;             
  min-height: 100vh;    
  font-family: 'Chakra Petch', sans-serif;
}
.Conteiner .BoaVindas{
  display: grid;
  place-items: center;
  gap: 0.2rem;
  margin-bottom: 0.6rem;
}
.Conteiner .BoaVindas #Incone{
  width: clamp(4rem, 6vw, 6rem);
  height: auto;
  color: #DFD2C8;
}
.Conteiner .BoaVindas span{
  font-family: "Kantumruy-pro",sans-serif;
  font-size: clamp(1.18rem, 1.8vw, 1.8rem);
  color: #531D1A;
  font-size: 600;
}

form {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  
}


input{
  min-height: 44px;
  padding: 0 6px;
  font-size: clamp(0.8rem, 1.2vw, 1.7rem);
  border-radius: 7px;
  box-sizing: border-box;
  border: 2px solid #310000;
  color: #310000;
  transition: all 0.3s;
  font-family: 'Chakra Petch', sans-serif;
   outline: none;
}
input::placeholder {
 color: #531D1A;
 opacity: 0.6;
  }
.Conteiner .requirimento form .pri input:focus,
.Conteiner .requirimento form #senha:focus {
  box-shadow: 4px 4px 0px #310000;
}
.Conteiner .requirimento form .pri input:not(:placeholder-shown),
.Conteiner .requirimento form #senha:not(:placeholder-shown) {
  background-color: #dfd2c8;
}
label{
  color: #310000;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

.Conteiner .requirimento form .pri{
  display: grid;
  width: 40vw;
  min-width: 334px;
  gap: 1.2rem;
}


.adicionais{
  display: flex;
 justify-content: space-between;
 gap: 0.5rem;
}
#senha{
  width: 25vw;
  min-width: 167px;
}

.collumn {
  display: grid;
  
}
.data-input-container {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  width: 14vw;
  min-width: 167px;
  max-width: 760px;
  border-bottom: 2px solid #531D1A;
  padding-bottom: 0;
}

.data-input-container {
  display: flex;
  align-items: flex-end;
  gap: 0;
  width: 13vw;
  max-width: 760px;
  border-bottom: 1.7px solid #531D1A;
  padding-bottom: 0;
}

.data-field {
  flex: 1; /* Ocupa espaço proporcional */
  min-width: 0;
  min-height: 0;
  padding: 0 ;
  border: none;
  background: transparent;
  outline: none;
  font-size: 17px;
  text-align: center;
  color: #531D1A;
  font-family: 'Chakra Petch', sans-serif;
  line-height: 1;
}

/* Ajuste para o ano ser um pouco maior */
#ano {
  flex: 1.3; /* 30% maior que dia e mês */
}
.data-field:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: #531D1A;
  transition: background-color 5000s ease-in-out 0s;
}
.separator {
  font-size: clamp(1.5rem, 2vw, 2.8rem);
  color: #531D1A;
  font-weight: 500;
  transform: skew(-10deg);
  line-height: 0.5;
  font-family: sans-serif;
  margin-bottom: 2px;
  flex-shrink: 0; 
}

.botão {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
#cadastro{
  width: 40%;
  padding: 5px;
  height: auto;
  min-height: 44px; 
  color: #fff;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 200;
  border-radius: 5px;
  background: #310000;
  background: linear-gradient(270.21deg, #531D1A 2.37%, #310000 99.84%);
}
#cadastro:hover {
  background: linear-gradient(270.21deg, #310000 2.37%, #531D1A 99.84%);
  transform: scale(1.03);
}
/* Estilo do botão */
